.header__title {
    margin-bottom: 25px;
    padding-left: 87px;
    padding-right: 87px;
    font-size: 25px;
    line-height: 33px;
    font-family: "Playfair Display";
    text-align: center;

}

