.new__wrapper {
    padding-top: 25px;
    background-image: url("../img/Hotel-11.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.new__anons {
    width: 99px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF7931;
}

.new__title {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 30px;
    font-size: 30px;
    line-height: 45px;
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.new__description {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 70px;
    font-size: 14px;
    line-height: 21px;
    font-family: "Raleway";
    text-align: center;
    color: #FFFFFF;
}