@import "./blocks/activity-list.scss";
@import "./blocks/activity.scss";
@import "./blocks/balet.scss";
@import "./blocks/btn.scss";
@import "./blocks/carusel.scss";
@import "./blocks/events-list.scss";
@import "./blocks/header.scss";
@import "./blocks/main";
@import "./blocks/nav-list.scss";
@import "./blocks/navigation.scss";
@import "./blocks/new.scss";
@import "./blocks/news-block.scss";
@import "./blocks/reviews.scss";
@import "./blocks/news-list.scss";
@import "./blocks/footer.scss";
@import "./vendors/scaffolding.scss";
@import "./vendors/variables.scss";

body {
    min-width: 320px;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
}
  
img {
    max-width: 100%;
    height: auto; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

a, button {
    cursor: pointer;
    padding: 0;
}
  
.library {
    display: none; 
}